# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
chatdemo/.gitignore
chatdemo/.mvn/
chatdemo/mvnw
chatdemo/mvnw.cmd
chatdemo/pom.xml
chatdemo/src/
pinyougou-parent/src/
springboot-01-cache/.gitignore
springboot-01-cache/.mvn/
springboot-01-cache/mvnw
springboot-01-cache/mvnw.cmd
springboot-01-cache/pom.xml
springboot-01-cache/src/main/java/xyz/guqing/springboot/Springboot01CacheApplication.java
springboot-01-cache/src/main/resources/application.properties
springboot-01-cache/src/main/resources/static/
springboot-01-cache/src/main/resources/templates/
springboot-01-cache/src/test/
springboot-02-amqp/.gitignore
springboot-02-amqp/.mvn/
springboot-02-amqp/mvnw
springboot-02-amqp/mvnw.cmd
springboot-02-amqp/pom.xml
springboot-02-amqp/src/main/java/xyz/guqing/springboot/Springboot02AmqpApplication.java
springboot-02-amqp/src/main/resources/application.properties
springboot-02-amqp/src/main/resources/static/
springboot-02-amqp/src/main/resources/templates/
springboot-02-amqp/src/test/
springboot-03-elasticsearch/.gitignore
springboot-03-elasticsearch/.mvn/
springboot-03-elasticsearch/mvnw
springboot-03-elasticsearch/mvnw.cmd
springboot-03-elasticsearch/pom.xml
springboot-03-elasticsearch/src/main/java/xyz/guqing/springboot/Springboot03ElasticsearchApplication.java
springboot-03-elasticsearch/src/main/resources/application.properties
springboot-03-elasticsearch/src/main/resources/static/
springboot-03-elasticsearch/src/main/resources/templates/
springboot-03-elasticsearch/src/test/
springboot-04-task/.gitignore
springboot-04-task/.mvn/
springboot-04-task/mvnw
springboot-04-task/mvnw.cmd
springboot-04-task/pom.xml
springboot-04-task/src/main/java/xyz/guqing/springboot/Springboot04TaskApplication.java
springboot-04-task/src/main/resources/application.properties
springboot-04-task/src/main/resources/static/
springboot-04-task/src/main/resources/templates/
springboot-04-task/src/test/
springboot-05-security/.gitignore
springboot-05-security/.mvn/
springboot-05-security/mvnw
springboot-05-security/mvnw.cmd
springboot-05-security/pom.xml
springboot-05-security/src/main/java/xyz/guqing/springboot/Springboot05SecurityApplication.java
springboot-05-security/src/main/resources/application.properties
springboot-05-security/src/main/resources/static/
springboot-05-security/src/test/
springboot-06-dubbo/.idea/compiler.xml
springboot-06-dubbo/.idea/encodings.xml
springboot-06-dubbo/.idea/misc.xml
springboot-06-dubbo/.idea/workspace.xml
springboot-06-dubbo/consumer-user/.gitignore
springboot-06-dubbo/consumer-user/.mvn/
springboot-06-dubbo/consumer-user/mvnw
springboot-06-dubbo/consumer-user/mvnw.cmd
springboot-06-dubbo/consumer-user/pom.xml
springboot-06-dubbo/consumer-user/src/main/java/xyz/guqing/user/ConsumerUserApplication.java
springboot-06-dubbo/consumer-user/src/main/resources/
springboot-06-dubbo/consumer-user/src/test/
springboot-06-dubbo/provider-ticket/.gitignore
springboot-06-dubbo/provider-ticket/.mvn/
springboot-06-dubbo/provider-ticket/mvnw
springboot-06-dubbo/provider-ticket/mvnw.cmd
springboot-
06-dubbo/provider-ticket/pom.xml
springboot-06-dubbo/provider-ticket/src/main/java/xyz/guqing/ticket/ProviderTicketApplication.java
springboot-06-dubbo/provider-ticket/src/main/resources/
springboot-06-dubbo/provider-ticket/src/test/
springboot-06-springcloud/.idea/compiler.xml
springboot-06-springcloud/.idea/encodings.xml
springboot-06-springcloud/.idea/misc.xml
springboot-06-springcloud/.idea/workspace.xml
springboot-06-springcloud/consumer-user/.gitignore
springboot-06-springcloud/consumer-user/.mvn/
springboot-06-springcloud/consumer-user/mvnw
springboot-06-springcloud/consumer-user/mvnw.cmd
springboot-06-springcloud/consumer-user/pom.xml
springboot-06-springcloud/consumer-user/src/main/java/xyz/guqing/consumeruser/ConsumerUserApplication.java
springboot-06-springcloud/consumer-user/src/main/resources/application.properties
springboot-06-springcloud/consumer-user/src/test/
springboot-06-springcloud/eureka-server/.gitignore
springboot-06-springcloud/eureka-server/.mvn/
springboot-06-springcloud/eureka-server/mvnw
springboot-06-springcloud/eureka-server/mvnw.cmd
springboot-06-springcloud/eureka-server/pom.xml
springboot-06-springcloud/eureka-server/src/main/java/
springboot-06-springcloud/eureka-server/src/main/resources/application.properties
springboot-06-springcloud/eureka-server/src/test/
springboot-06-springcloud/provider-ticket/.gitignore
springboot-06-springcloud/provider-ticket/.mvn/
springboot-06-springcloud/provider-ticket/mvnw
springboot-06-springcloud/provider-ticket/mvnw.cmd
springboot-06-springcloud/provider-ticket/pom.xml
springboot-06-springcloud/provider-ticket/src/main/java/xyz/guqing/providerticket/ProviderTicketApplication.java
springboot-06-springcloud/provider-ticket/src/main/resources/application.properties
springboot-06-springcloud/provider-ticket/src/test/
springboot-08-actuator/.gitignore
springboot-08-actuator/.mvn/
springboot-08-actuator/mvnw
springboot-08-actuator/mvnw.cmd
springboot-08-actuator/pom.xml
springboot-08-actuator/src/
taotao/.gitignore
taotao/.idea/artifacts/
taotao/.idea/compiler.xml
taotao/.idea/encodings.xml
taotao/.idea/misc.xml
taotao/.idea/modules.xml
taotao/.idea/vcs.xml
taotao/README.md
taotao/taotao-common/.classpath
taotao/taotao-common/.project
taotao/taotao-common/.settings/
taotao/taotao-common/pom.xml
taotao/taotao-common/src/
taotao/taotao-common/taotao-common.iml
taotao/taotao-common/target/classes/META-INF/
taotao/taotao-common/target/maven-archiver/
taotao/taotao-common/target/maven-status/
taotao/taotao-manage-mapper/.classpath
taotao/taotao-manage-mapper/.project
taotao/taotao-manage-mapper/.settings/
taotao/taotao-manage-mapper/pom.xml
taotao/taotao-manage-mapper/src/
taotao/taotao-manage-mapper/target/classes/META-INF/
taotao/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/CustomItemMapper.xml
taotao/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/ItemCatMapper.xml
taotao/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/ItemDescMapper.xml
taotao/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/ItemMapper.xml
taotao/taotao-manage-mapper/target/maven-status/
taotao/taotao-manage-pojo/.classpath
taotao/taotao-manage-pojo/.projec
t
taotao/taotao-manage-pojo/.settings/
taotao/taotao-manage-pojo/pom.xml
taotao/taotao-manage-pojo/src/
taotao/taotao-manage-pojo/target/classes/META-INF/
taotao/taotao-manage-service/.classpath
taotao/taotao-manage-service/.project
taotao/taotao-manage-service/.settings/
taotao/taotao-manage-service/pom.xml
taotao/taotao-manage-service/src/
taotao/taotao-manage-service/target/classes/META-INF/
taotao/taotao-manage-service/target/maven-status/
taotao/taotao-manage-web/.classpath
taotao/taotao-manage-web/.project
taotao/taotao-manage-web/.settings/
taotao/taotao-manage-web/pom.xml
taotao/taotao-manage-web/src/
taotao/taotao-manage-web/target/classes/jdbc.properties
taotao/taotao-manage-web/target/classes/log4j.properties
taotao/taotao-manage-web/target/classes/mybatis/
taotao/taotao-manage-web/target/classes/spring/
taotao/taotao-manage-web/target/m2e-wtp/
taotao/taotao-manage-web/target/maven-status/
taotao/taotao-manage-web/target/tomcat/conf/
taotao/taotao-manage-web/target/tomcat/logs/
taotao/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/index_jsp.java
taotao/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/item_002dadd_jsp.java
taotao/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/item_002dlist_jsp.java
taotao/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/login_jsp.java
taotao/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/commons/common_002djs_jsp.java
taotao/taotao-manage-web/target/tomcat/work/Tomcat/localhost/localhost.iml
taotao/taotao-manage/.project
taotao/taotao-manage/.settings/
taotao/taotao-manage/pom.xml
taotao/taotao-manage/taotao-manage-mapper/.classpath
taotao/taotao-manage/taotao-manage-mapper/.project
taotao/taotao-manage/taotao-manage-mapper/.settings/
taotao/taotao-manage/taotao-manage-mapper/pom.xml
taotao/taotao-manage/taotao-manage-mapper/src/
taotao/taotao-manage/taotao-manage-mapper/taotao-manage-mapper.iml
taotao/taotao-manage/taotao-manage-mapper/target/classes/META-INF/
taotao/taotao-manage/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/CustomItemMapper.xml
taotao/taotao-manage/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/ItemCatMapper.xml
taotao/taotao-manage/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/ItemDescMapper.xml
taotao/taotao-manage/taotao-manage-mapper/target/classes/xyz/guqing/taotao/manage/mapper/ItemMapper.xml
taotao/taotao-manage/taotao-manage-mapper/target/maven-archiver/
taotao/taotao-manage/taotao-manage-mapper/target/maven-status/
taotao/taotao-manage/taotao-manage-pojo/.classpath
taotao/taotao-manage/taotao-manage-pojo/.project
taotao/taotao-manage/taotao-manage-pojo/.settings/
taotao/taotao-manage/taotao-manage-pojo/pom.xml
taotao/taotao-manage/taotao-manage-pojo/src/
taotao/taotao-manage/taotao-manage-pojo/taotao-manage-pojo.iml
taotao/taotao-manage/taotao-manage-pojo/target/classes/META-INF/
taotao/taotao-manage/taotao-manage-pojo/target/maven-archiver/
taotao/taotao-manage/taotao-manage-pojo/target/maven-status/
taotao/taotao-manage/taotao-manage-service/.classpath
taotao/taotao-manage/taotao-manage-service/.project
taotao/taotao-manage/taotao-manage-service/.settings/
Wou
ld remove taotao/taotao-manage/taotao-manage-service/pom.xml
taotao/taotao-manage/taotao-manage-service/src/
taotao/taotao-manage/taotao-manage-service/taotao-manage-service.iml
taotao/taotao-manage/taotao-manage-service/target/classes/META-INF/
taotao/taotao-manage/taotao-manage-service/target/maven-archiver/
taotao/taotao-manage/taotao-manage-service/target/maven-status/
taotao/taotao-manage/taotao-manage-web/.classpath
taotao/taotao-manage/taotao-manage-web/.project
taotao/taotao-manage/taotao-manage-web/.settings/
taotao/taotao-manage/taotao-manage-web/GitRepository/
taotao/taotao-manage/taotao-manage-web/pom.xml
taotao/taotao-manage/taotao-manage-web/src/
taotao/taotao-manage/taotao-manage-web/taotao-manage-web.iml
taotao/taotao-manage/taotao-manage-web/target/classes/jdbc.properties
taotao/taotao-manage/taotao-manage-web/target/classes/log4j.properties
taotao/taotao-manage/taotao-manage-web/target/classes/mybatis/
taotao/taotao-manage/taotao-manage-web/target/classes/spring/
taotao/taotao-manage/taotao-manage-web/target/m2e-wtp/
taotao/taotao-manage/taotao-manage-web/target/maven-status/
taotao/taotao-manage/taotao-manage-web/target/tomcat/conf/
taotao/taotao-manage/taotao-manage-web/target/tomcat/logs/
taotao/taotao-manage/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/index_jsp.java
taotao/taotao-manage/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/item_002dadd_jsp.java
taotao/taotao-manage/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/item_002dlist_jsp.java
taotao/taotao-manage/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/WEB_002dINF/views/login_jsp.java
taotao/taotao-manage/taotao-manage-web/target/tomcat/work/Tomcat/localhost/_/org/apache/jsp/commons/common_002djs_jsp.java
taotao/taotao-manage/taotao-manage-web/target/tomcat/work/Tomcat/localhost/localhost1.iml
taotao/taotao-manage/taotao-manage.iml
taotao/taotao-parent/
